*{
    font-size: 24px;
    margin: 0px;
}

.nav{
    width: 100vw;
    height: 120px;
    display: flex;
    
}

.searchBar {
    display: flex;
    width: 500px;
    align-items: center;
    gap:5%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
